$fontf-post-title: "Playfair Display", serif;

.post {
    min-width: 280px;
    height: auto;

    &__info-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include breakpoint(small) {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
    }

    &__title {
        font-family: $fontf-post-title;
    }

    &__img {
        min-width: 280px;
        width: 530px;
        min-height: 160px;
        height: 300px;
        border-radius: $border-radius;

        @include breakpoint(small) {
            min-width: 540px;
            width: 951px;
            min-height: 160px;
            height: 350px;
        }
    }

    &__info {
        display: flex;
        justify-content: end;
        align-items: center;
        color: $primary;

        span:not(:last-child) {
            margin-right: 8px;
        }
    }
}
